﻿<div class="modal-header">
    <h3 class="modal-title">About</h3>
</div>

<div class="modal-body">
    <h4>Pierre Fiorelli</h4>
    <p ><img src="images/pierre.png" /></p>
    <h4>Vincent Lemeunier</h4>
    <p><img src="images/vincent.png" /></p>
    <h4>Jérôme Firlej</h4>
    <p><img src="images/jerome.png" /></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Fermer</button>
</div>