<div class="modal-header">
    <h3 class="modal-title">Publicité</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
        <select ng-model="selectedAd" ng-options="ad.title for ad in ads">
            <option value="">Choisissez un type de publicité</option>
        </select>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!validOptionSelected()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
