﻿<div class="modal-header" ng-show="options.title">
    <h3 class="modal-title" ng-bind="options.title"></h3>
</div>

<div class="modal-body">
    <p class="text-justify" ng-bind-html="options.content"></p>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-bind-html="options.close" ng-click="cancel()">Fermer</button>
    </div>