﻿<div class="modal-header">
    <h3 class="modal-title">Contrats</h3>
</div>

<div class="modal-body">
        <h4>Nom</h4>
        <p ng-bind="contracts[currentPage-1].name">
    <h4>Type</h4>
    <p ng-bind="contracts[currentPage-1].need.name"></p>
        <h4>Cible</h4>
    <p ng-bind="contracts[currentPage-1].target.name"></p>
    <h4>Prix</h4>
    <p><span ng-bind="contracts[currentPage-1].price"></span> coins</p>

    <div class="text-center"><div pagination total-items="contracts.length" items-per-page="1" ng-model="currentPage" next-text="Suivant" previous-text="Précédent"></div></div>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="cancel()">Fermer</button>
    </div>