﻿<div class="modal-header">
    <h3 class="modal-title">Employés</h3>
</div>

<div class="modal-body">
    <div>
        <div class="pull-right">
            <img class="user-avatar" src="images/avatar.png" alt="avatar">
        </div>
        <div>
            <h4>Nom</h4>
            <p ng-bind="employees[currentPage-1].name">
            <h4>Niveau</h4>
            <p ng-bind="employees[currentPage-1].level">
                <h4>Salaire</h4>
            <p><span ng-bind="employees[currentPage-1].salary"></span> coins</p>
            <h4>Metier</h4>
            <p ng-bind="employees[currentPage-1].role"></p>
            <h4>Description</h4>
            <p ng-bind-html="employees[currentPage-1].description"></p>
        </div>
    </div>

    <hr/>

    <div>
        <div class="row">
            <div class="col-md-6">
                <h4>Vitesse</h4>
                <div rating ng-model="employees[currentPage-1].speed" max="8" readonly="true"></div>
                <h4>Expertise</h4>
                <div rating ng-model="employees[currentPage-1].expertise" max="8" readonly="true"></div>
            </div>
            <div class="col-md-6">
                <h4>Relation Client</h4>
                <div rating ng-model="employees[currentPage-1].clientRelation" max="8" readonly="true"></div>
                <h4>Créativité</h4>
                <div rating ng-model="employees[currentPage-1].creativity" max="8" readonly="true"></div>
            </div>
        </div>
    </div>

    <div class="text-center"><div pagination total-items="employees.length" items-per-page="1" ng-model="currentPage" next-text="Suivant" previous-text="Précédent"></div></div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Fermer</button>
</div>
