﻿<div class="modal-header">
    <h3 class="modal-title">Nouveau contrat</h3>
</div>
<form ng-submit="ok()">
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Nom du contrat</label>
            <input type="text" required ng-model="contract.name" class="form-control" id="exampleInputEmail1" placeholder="Entrez le nom du contrat">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Choisissez le type de contrat</label>
            <select required class="form-control" ng-model="contract.need" ng-options="need.name for need in needs">
                <option value="">Choisissez un type</option>
            </select>
            <p class="help-block"></p>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Choisissez la cible du contrat</label>
            <select required ng-model="contract.target" class="form-control" ng-options="target.name for target in targets">
                <option value="">Choisissez une cible</option>
            </select>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Annuler</button>
    </div>
</form>