
<div class="modal-header">
    <h3 class="modal-title">Formation</h3>
    <p>Selectionnez l'employé à former, puis la compétense à améliorer</p>
</div>

<div class="modal-body">
    <div>
        <div class="pull-right">
            <img class="user-avatar" src="images/avatar.png" alt="avatar">
        </div>

        <div>
            <h4>Nom</h4>
            <p ng-bind="employees[currentPage-1].name">
                <h4>Niveau</h4>
                <p ng-bind="employees[currentPage-1].level">
                    <h4>Salaire</h4>
                    <p>
                        <span ng-bind="employees[currentPage-1].salary"></span> coins</p>
                    <h4>Metier</h4>
            <p ng-bind="employees[currentPage-1].role"></p>
            <h4>Description</h4>
            <p ng-bind-html="employees[currentPage-1].description"></p>
        </div>
    </div>

    <hr/>
    <div>
        <p>Points de compétence: {{employees[currentPage-1].competencePoints}}</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Vitesse</h4>
                <span rating ng-model="employees[currentPage-1].speed" max="8" readonly="true"></span>
                <button ng-show="employees[currentPage-1].speed<8" ng-disabled="!employees[currentPage-1].competencePoints" ng-click="addPoint('speed')" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <h4>Expertise</h4>
                <span rating ng-model="employees[currentPage-1].expertise" max="8" readonly="true"></span>
                <button ng-show="employees[currentPage-1].expertise<8" ng-disabled="!employees[currentPage-1].competencePoints" ng-click="addPoint('expertise')" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="col-md-6">
                <h4>Relation Client</h4>
                <span rating ng-model="employees[currentPage-1].clientRelation" max="8" readonly="true"></span>
                <button ng-show="employees[currentPage-1].clientRelation<8" ng-disabled="!employees[currentPage-1].competencePoints" ng-click="addPoint('clientRelation')" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <h4>Créativité</h4>
                <span rating ng-model="employees[currentPage-1].creativity" max="8" readonly="true"></span>
                <button ng-show="employees[currentPage-1].creativity<8" ng-disabled="!employees[currentPage-1].competencePoints" ng-click="addPoint('creativity')" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>

        <div class="text-center">
            <div pagination total-items="employees.length" items-per-page="1" ng-model="currentPage" next-text="Suivant" previous-text="Précédent"></div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Fermer</button>
</div>
