@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
.hiddenText {
    font-family: 'Press Start 2P', cursive;
    visibility: hidden;
}
.panel-game {
    max-width: 500px;
}
/* Pixelly goodness */

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}
* {
    border-radius: 0 !important;
}
.user-avatar {
    border: 4px solid lightgrey;
}
.panel-game .panel-body {
    padding: 0;
    margin: 0;
}
/* Axa branding */

.pagination > .active > a, .btn-primary {
    background: #0D529C;
    /* blue axa  */

    border-color: #0D529C;
}
.pagination > li > a:hover, .pagination > li > a {
    color: #0D529C;
}
.btn-warning, .btn-warning:hover {
    background: #C70000;
    /* red axa  */
}
.modal-header {
    color: white;
    background: #0D529C;
    background-image: url(../images/axa-diagonal.png);
    background-position: 0px 0px, left;
    background-repeat: no-repeat;
    background-size: 30% 100%;
}
.game-title {
    text-shadow: -4px 0 #0D529C, 0 4px #0D529C, 4px 0 #0D529C, 0 -4px #0D529C;
    color: #eee
}
