﻿
<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/odometer/themes/odometer-theme-minimal.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="gameApp">
    <h1 class="text-center game-title">Insurance Story</h1>
    <div class="container" ng-controller="MainCtrl">
        <div class="panel panel-default panel-game center-block">
            <div class="panel-heading">
                <div class="btn-group" role="group" ng-controller="MenuCtrl">
                    <div class="btn-group" role="group" dropdown>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="newContract()">Nouveau Contrat</a>
                            </li>
                            <li><a href="" ng-click="advertise()">Publicité</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group" dropdown>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
                            Equipe
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="train()">Entrainer</a>
                            </li>
                            <li><a href="" ng-click="hire()">Embaucher</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group" dropdown>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
                            Info
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="infoContrats()">Contrats</a>
                            </li>
                            <li><a href="" ng-click="infoEmployes()">Employés</a>
                            </li>
                            <li>
                                <a href="" ng-click="about()">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <game-timer time-in-weeks="insurance.age"></game-timer>

            </div>

            <div class="panel-body">
                <div id="phaser-container"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <span class="col-xs-1">
                        <span><img src="images/client.png" style="height: 15px" /></span>
                    </span>
                    <span class="col-xs-3">
                        <span odometer="insurance.clients" animation='count'></span>
                    </span>

                    <span class="col-xs-1">
                        <span><img src="images/coin.png" /></span>
                    </span>
                    <span class="col-xs-3">
                        <span odometer="insurance.money|number:0" animation='count'></span>
                    </span>
                    <span class="col-xs-1">
                        <span><img src="images/satisfaction.png" /></span>
                    </span>
                    <span class="col-xs-3">
                        <span progressbar style="margin-bottom: 0px" max="100" value="insurance.satisfaction" type="{{insuranceType()}}"><span style="color:black; white-space:nowrap;"><span ng-bind="insurance.satisfaction"></span>%</span></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-game center-block " style="height: 200px;overflow: auto;;">
            <div class="panel-body">
                <p ng-repeat="log in logs() track by $index" ng-bind="log"></p>
            </div>
            </div>
        </div>

    <div class="hiddenText">.</div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/phaser/build/phaser.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/odometer/odometer.js"></script>
    <script src="bower_components/angular-odometer-js/dist/angular-odometer.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/menu.js"></script>

    <script src="scripts/services/gamedisplay.js"></script>
    <script src="scripts/services/gameservice.js"></script>
    <script src="scripts/services/clientService.js"></script>

    <script src="scripts/services/contractservice.js"></script>
    <script src="scripts/services/logsservice.js"></script>
    <script src="scripts/services/eventsservice.js"></script>
    <script src="scripts/services/employeeservice.js"></script>
    <script src="scripts/services/toolsservice.js"></script>
    <script src="scripts/services/insuranceService.js"></script>

    <script src="scripts/models/employee.js"></script>
    <script src="scripts/models/client.js"></script>
    <script src="scripts/models/contract.js"></script>
    <script src="scripts/models/insurance.js"></script>
    <script src="scripts/controllers/about-popup.js"></script>
    <script src="scripts/controllers/event-popup.js"></script>
    <script src="scripts/controllers/hire-popup.js"></script>
    <script src="scripts/controllers/infoemployes-popup.js"></script>
    <script src="scripts/controllers/infocontracts-popup.js"></script>
    <script src="scripts/controllers/newcontract-popup.js"></script>
    <script src="scripts/controllers/advertise-popup.js"></script>
    <script src="scripts/controllers/train-popup.js"></script>
    <script src="scripts/services/targetsconstant.js"></script>
    <script src="scripts/services/needsconstant.js"></script>
    <script src="scripts/services/jobsconstant.js"></script>
    <script src="scripts/models/roleEnum.js"></script>

    <script src="scripts/filters/formattedgametime.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/gametimer.js"></script>
    <!-- endbuild -->
</body>

</html>
